<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica Styde</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  
</head>
<body>
    <div id="app" class="container">
        {{ $data }}
        <!--requiered-->
        <div>
           <h4>¿Has trabajado con Vue.js?</h4>
           <div class="radio">
               <label class="radio-inline">
                   <input type="radio" v-model="vue.exp" :value="true"> Sí
               </label>
               <label class="radio-inline">
                   <input type="radio" v-model="vue.exp" :value="false"> No
               </label>
           </div>
        </div>

        <template v-if="vue.exp">
            <!--si la respuesta es sí-->
            <div class="form-group">
                <br>
                <label for="vue_years">¿Cuantos años de experiencia tienes con Vue? <br>
                </label>
                <input type="number" v-model="vue.years" class="form-control">
            </div>

            <!--si tienes un año de experiencia o menos-->
            <div v-if="vue.years < 2" class="form-group">
                <br>
                <label for="vue_years">¿Que te motivo a aprender Vue? <br>
                </label>
                <textarea v-model="vue.description" class="form-control" rows="4"></textarea>
            </div>

            <!--si ha trabajado dos años o más-->
            <div v-else="vue.years >= 2" class="form-group">
                <br>
                <label for="vue_years">¿Cuentanos tu experiencia con Vue.js? <br>
                </label>
                <textarea v-model="vue.description" class="form-control" rows="4"></textarea>
            </div>
        </template>
        

        <footer class="footer"> 
            <p>&copy; Chmalo.net.</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                vue: {
                    exp: null,
                    years: 0,
                    description: ''
                }
            }
        });
    </script>
    
</body>
</html>
