<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica 2 Styde</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" class="container">

        <div class="welcome">
            <input type="text" v-model="name" class="form-control">
            <input type="text" v-model="email" class="form-control">

            <p>
                Bienvenido {{ name | reversed | upper | title('Mr')  }}
            </p> 
            <p>
                Bienvenido {{ reverse(name) | title('Mr')  }}
            </p> 
            <p>
                Bienvenido {{ reversedName | title('Mr')  }}
            </p> 
        </div>


        <h2>Todas las tareas</h2>
        <ul>
            <li v-for="(task, index) in tasks">
                {{ index + 1 }}: {{ task.title }}
            </li>
        </ul>
        <h2 v-if="pendingTasks.length">Tareas pendientes</h2>
         <ul v-if="pendingTasks.length">
            <li v-for="(task, index) in pendingTasks">
                {{ index + 1 }}: {{ task.title }}
            </li>
        </ul>

        <form>
            <input type="text" v-model="new_task" class="form-control">
        <button class="btn btn-primary" @click="createTask(true, $event)">
            Crear tarea pendiente
        </button>
        <button class="btn btn-info" @click="createTask(false, $event)">
            Crear tarea completada
        </button>
        </form>
       

         <footer class="footer"> 
             <br>
            <p>&copy; Chmalo.net.</p>
        </footer>
    </div>

     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
     <script>
         Vue.filter('title', function (value, title) {
             return title + '. ' + value;
         });

         var vm = new Vue({
            el: '#app',
            data: {
                name: 'Christian',
                email: 'chmalo.f@gmail.com',
                new_task: '',
                tasks: [
                    {
                        title : 'Aprender Vue.js',
                        pending: false
                    },
                    {
                        title : 'Mejorar el lenguaje',
                        pending: false
                    },  
                    {
                        title :  'Nunca parar de aprender',
                        pending: true
                    }
                ]   
            },

            filters: {
                upper: function (value) {
                    return value.toUpperCase();
                }, 
                reversed: function (value) {
                    console.log('Filters..');
                    return value.split('').reverse().join('');
                }  
            },

            computed: {
                pendingTasks: function () {
                    return this.tasks.filter(function (item) {
                        return item.pending;                        
                    });
                },

                reversedName:function () {
                    console.log('Computed..');
                    return this.name.split('').reverse().join('');
                }
            },

            methods: {
                 reverse: function (value) {
                     console.log('Methods..');
                    return value.split('').reverse().join('');
                
                },
                
                createTask: function (pending, event){
                    event.preventDefault();

                    this.tasks.push({
                        title: this.new_task,
                        pending: pending
                    });

                    this.new_task = '';
                }
            },
         });
     </script>
</body>
</html>