<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>Curso de vue</title>

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
</head>
<body>
    <div id="app" class="container">
        <h2>Tareas</h2>

        <ul class="list-group tasks">
           <li is="app-task" v-for="(task, index) in tasks" 
           :tasks="tasks" :task="task" :index="index"></li>
        </ul>
        
        <br>
        <p><a @click="deleteCompleted">Eliminar tareas completadas</a></p>

        <form @submit.prevent="createTask" class="new-task-form">
            <br>
            <input v-model="new_task" type="text" class="form-control">
            <button class="btn btn-primary">Crear tarea</button>
        </form>

         <footer class="footer"> 
             <br>
            <p>&copy; Chmalo.net.</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script type="text/x-template" id="task-template">
         <li class="list-group-item"
            :class="{editing: task.editing, completed: !task.pending}">
                <a @click="toggleStatus">
                    <app-icon :img="task.pending ? 'unchecked' : 'check'" aria-hidden="true"></app-icon>
                </a>
                
                <template v-if="!task.editing">
                    <span  class="description">{{ task.description }}</span>
                        <div>
                            <a @click="edit">
                             <app-icon img="edit"></app-icon>
                            </a>
                            <a @click="remove">
                                <app-icon img="trash"></app-icon>
                            </a>
                        </div>

                </template>

                <template v-else type="text">
                     <input type="text" v-model="draft">

                     <div>
                        <a @click="update">
                            <app-icon img="ok"></app-icon>
                        </a>
                        <a @click="discard">
                            <app-icon img="remove"></app-icon>
                        </a>
                    </div>
                </template>  
            </li>
    </script>

    <script src="app.js"></script>
    
   
</body>
</html>